#addExpense {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#addExpenseHeader {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#addSaveButton {
  width: 124px;
}
#addCategoryContainer {
  width: 600px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#listTable {
  width: 80% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
#addCategoryButton {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#addCategoryContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
