<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Expense tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
    type="text/css"
    rel="stylesheet"
    href="/css/bootstrap.min.css"
    th:href="@{/css/bootstrap.min.css}"
  />
  <link
    rel="stylesheet"
    href="/css/styles.css"
    th:href="@{/css/styles.css}"
  />
  </head>
  <body>
    <div id="addExpenseHeader">
      <h1>Add Expense</h1>
    </div>
    <div id="addExpense">
    <form th:object="${newExpense}" th:action="@{save}" action="#" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{name}" />

    <label for="amount">Amount</label>
    <input type="text" id="amount" th:field="*{amount}" />

    <label for="date">Date (dd.mm.yyyy)</label>
    <input type="text" id="date" th:field="*{date}" />

    <label for="catlist">Category</label>
    <select id="catlist" th:field="*{category}" >     <option th:each="category: ${categorys}" th:value="${category.id}"
    th:text="${category.name}"></option>
    </select>
    
    <input type="submit" value="Save" id="addSaveButton" class="btn btn-success"></input>
    </form>
  </div>
    <div id="addCategoryContainer">
      <h2>Need to add new category?</h2>
      <a href="/addCategory" class="btn btn-warning">Add Category</a>
    </div>
    
  </body>
</html>
